@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ptserif:wght@300&family=Ptserif&display=swap');
main{
    width: 100vw;
}
.conteiner{
    display: flex;
    justify-content: space-around;
}
.conteiner h1{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}
.info{
 
    width: 25%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Trocchi', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
    
}

.principal{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 85px;
    width: 80%;
    margin: 20px auto;
}
.principal div{
    
    width: 100%;
}
.principal div img{
    width: 80%;
    height: 500px;
    
}
.principal div:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 30% 0 0 0;

}

.principal div:nth-child(5){
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 30% 0 0 0;
}

.principal div h3{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.flex-div div p{
    
  
    font-family: 'Ptserif';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    width: 150px;
    letter-spacing: 2px;
    word-spacing: 6px;
    
    

    text-transform: uppercase;

    color: #000000;

    
}

footer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  

    text-align: center;

    color: #A9A9A9;
}

.flex-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
   
}
.flex-div > div{
    transform: rotate(90deg);
    width: 100%;
    margin: 0 0;
    position: relative;
    right: 13%;
    bottom: 0;
    
}
